*{
 padding: 0;
 margin: 0;
}

.Info{
  height: 73vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hour,#min,#sec{
  height: 300px;
  width: 300px;
  background-color: aqua;
  border: 2px solid green;
  font-size: 16rem;
  text-align: center;
}

#btn {
    padding: 4px 21px;
    border-radius: 7px;
    margin: auto;
    display: block;
    margin-top: 18px;
    background: azure;
}
#btn1 {
    padding: 4px 21px;
    border-radius: 7px;
    margin: auto;
    display: block;
    margin-top: 18px;
    background: azure;
}
#btn2 {
    padding: 4px 21px;
    border-radius: 7px;
    margin: auto;
    display: block;
    margin-top: 18px;
    background: azure;
}